
    <footer class='bg-dark text-light'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-3 mb-md-0 mb-4'>
                    <h2 class='footer-heading'>Le Pilier Malouin</h2>
                    <p>Bienvenue chez nous !</p>
                </div>
                <div class='col-md-9'>
    
                    <div class='row'>
                
                <div class='col-md-4 mb-md-0 mb-4'>
                    <a href='#' class='text-decoration-none text-reset'> <h2 class='footer-heading'>Activités</h2></a>
                    <ul class='list-unstyled'>
                
                    </ul>
                </div>
                
                <div class='col-md-4 mb-md-0 mb-4'>
                    <a href='/QuiSommeNous/whoAreWe.php' class='text-decoration-none text-reset'> <h2 class='footer-heading'>Qui sommes-nous ?</h2></a>
                    <ul class='list-unstyled'>
                
                        <li><a href='/QuiSommeNous/histoire.php' class='d-block'>Histoire</a></li>
                    
                        <li><a href='/QuiSommeNous/chiffres.php' class='d-block'>Chiffres-clés</a></li>
                    
                        <li><a href='/QuiSommeNous/clients.php' class='d-block'>Nos clients</a></li>
                    
                    </ul>
                </div>
                
                <div class='col-md-4 mb-md-0 mb-4'>
                    <a href='/index.php' class='text-decoration-none text-reset'> <h2 class='footer-heading'>A propos</h2></a>
                    <ul class='list-unstyled'>
                
                        <li><a href='/implements.php' class='d-block'>Nos implantations</a></li>
                    
                        <li><a href='/partners.php' class='d-block'>Partenaires</a></li>
                    
                        <li><a href='/contact.php' class='d-block'>Contact</a></li>
                    
                        <li><a href='/legalNotice.php' class='d-block'>Mentions légales</a></li>
                    
                    </ul>
                </div>
                
        </div>
        </div>
        <div class='row mt-5 pt-4 border-top'>
        <div class='col-md-6 col-lg-8 mb-md-0 mb-4'>
            <p class='copyright mb-0'>
            Copyright &copy;<script>
                document.write(new Date().getFullYear());
            </script> All rights reserved. | lepiliermalouin.bzh</a>
            </p>
        </div>
        <div class='col-md-6 col-lg-4 text-md-right'>
            <ul class='list-unstyled'>
                <li class=''><a href='http://intra.lepiliermalouin.bzh' class='text-decoration-none'><ion-icon name='business'></ion-icon>&nbsp;Intranet</a></li>
                <li class=''><a href='http://lepiliermalouin.bzh' class='text-decoration-none'><ion-icon name='home-outline'></ion-icon>&nbsp;Site vitrine</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</footer>
