.bg-primary {
    background-color: #05204A !important;
}

.bg-light {
    background-color: #D5CAA5 !important;
}

.bg-info {
    background-color: #6D8A96 !important;
}

.bg-white {
    background-color: #F7F8FF !important;
}

.bg-secondary {
    background-color: #443D2B !important;
}

.text-secondary {
    color: #443D2B !important;
}

.text-primary {
    color: #05204A !important;
}

.text-light {
    color: #D5CAA5 !important;
}

.border-dark{
    border-color: #443D2B !important;
}

hr {
    border: none;
    color: #443D2B;
    overflow: visible;
    text-align: center;
    width: 40%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}